body {
	margin: 0%;
	padding: 0%;
	height: auto;
	scrollbar-width: none;  /* Firefox */
	
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

* {
	scrollbar-width: none; /* Firefox implementation */
}

.Background {
	justify-content: center;
	/* The image used */
	background: gray url("./background.jpg") repeat 0 0;

	/* Set a specific height */
	height: 100%;
	margin: 0;
	width: 100vw;
	
	padding: 0%;
	/* animation*/
	box-sizing: border-box;
	-webkit-animation: slide 120s linear infinite;
	background-size: cover;
	
}

  @-webkit-keyframes slide {
	  from { background-position: 0 0; }
	  to { background-position: -150vw 0; }
  }
  



/*https://mastery.games/post/tile-layouts/*/
.grid {
	display: grid;
	grid-gap: 1rem;
	grid-auto-rows: min-content;
	padding: 1rem;
	/*allows responsive scaling of grid*/
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-flow: dense;
	max-width: 95vw;
	overflow: hidden;
  }

.grid > *
{
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	padding: 1rem;
	word-wrap: normal;
	overflow-wrap: break-word;
	max-width: 95vw;
}

.fullwide {
	grid-column: 1/-1;
}

.tall {
	grid-row: span 2;
}

.details
{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  word-wrap: break-word;
}
.detailsRepo
{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 1rem;
  word-wrap: break-word;
  margin-bottom: 1rem;
}
h3{
  margin: 0;
}

.location
{
  float: left;
  color: rgb(78, 78, 78);
}

.bio
{
  float: left;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.hiddenMobile2
	{
		display: none !important;
	}
.cardGrid
{
	display: grid;
	/*allows responsive scaling of grid*/
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.newsCard{
    text-align: left;
    border: 1px rgb(105, 105, 105) solid;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.reactive:hover
{
	color:whitesmoke;
	background-color: rgb(105, 105, 105) !important;
    cursor: pointer;
}

.newsCardold:hover
{
    color: rgb(0, 122, 179);
    border-color: rgb(0, 122, 179);
    cursor: pointer;
}

.newsCardHeading
{
	

}

/*for desktop*/
@media only screen and (min-width: 768px) {
	.Background {
		padding-left: 20vw;
		padding-right: 20vw;
	}
	.hiddenMobile2
	{
		display: inherit !important;
	}
	.detailsRepo
	{
		text-align: left;
	}
	.wide {
		grid-column: span 2;
	}
} 